
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');



html {
  scroll-behavior: smooth;
  scroll-padding-top: 300px;
}

*{
padding: 0;
margin: 0;
box-sizing: border-box;
}


header{
width:100%;
display: flex;
justify-content: space-around;
align-items:center;
background-color: #FFFEF8;
color: #fff;
padding: 0 0;
position: fixed;
top: 0;
left: 0;
z-index: 1000;

}

body
{
  background-color: #FFFEF8;
}



.logo-cafe {
  margin-top: 0.938rem;
  margin-right: 37.5rem; 
  margin-left: 0; 
  width: 7.5rem; 
  height: 6.75rem; 
}

.nav-links li
{
display: inline-block;
margin: 0 2.3rem;

}

.nav-links  li a
{
  font-size: 1.25rem;
  text-decoration: none;
  color: black;
  font-family:"Inter", sans-serif;
  font-style: black italic;
  font-weight: bold
  
}

nav li:hover{
  transition: transform 1s;
  transform: scale(1.07);
  color: #521B04;
}

nav li a:hover{
  color: #521B04;
  text-underline-offset: 1rem;}

.Entre-link
{
  border:solid;
  border-radius: 15.813rem;
  padding: .5rem 1.5rem .5rem 1.5rem;
  background-color:#FFFEF8;
  font-size: 1.25rem;
  color: black;
  font-family:"Inter", sans-serif;
  font-style: black italic;
  font-weight: bold
}

.Entre-link:hover {
  border:  solid #521B04;
  color: #521B04;
  transition: transform 1s;
  transform: scale(1.07);

}

main {
  padding-top: 150px; /* Adjusted to prevent content from hiding under fixed header */
}

/* WebCoffee */

.Webcoffe
{
  width:96rem;
  display: block; 
  margin: 6.375rem auto 0; 
  margin-left: auto; 
  margin-right: auto;
}


/* Texto Boas vindas */

.Textop-link
{
  margin: 10px;
  text-align:center;
  font-size: 1.5rem;
  color: black;
  font-family:"Inter", sans-serif;
  font-style: black italic;
  font-weight: bold
}

.Textos-link
{
  margin: 0 0 0 0;
  text-align:center;
  font-size: 1.5rem;
  color: black;
  font-family:"Inter", sans-serif;
  font-style: black italic;
  font-weight: bold
}

.desen
{
  text-decoration: none;
  color: #521B04;
}

.desen:hover
{
  transition: transform 1s;
  transform: scale(1.07);
  text-decoration:underline
}


.web-bem
{
  text-decoration: none;
  color: #521B04;
}

.Titulo
{
  display: block; 
  margin: 12.5rem auto 0; 
  margin-left: auto; 
  margin-right: auto; 
  text-align:center;
  width: 34rem;
  border:none;
  border-radius: 1.188rem;
  padding: .5rem 1.5rem .5rem 1.5rem;
  background-color:#44210E;
  font-size: 1.5rem;
  color: #FFEEE4;
  font-family:"Inter", sans-serif;
  font-style: black italic;
  font-weight: bold
}

.quadrado-um {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  border: solid none; 
  border-radius: 1.188rem;
  width: 93.75rem; 
  height: 43.938rem; 
  background-color: #FFFEF8; 
  margin: .625rem auto 0;
  padding: 2rem; 
}

.section {
  flex: 1 1 300px;
  padding: 1.5rem;
  border-radius: 1.188rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: transparent;
  border: solid 2px transparent; 
  transition:  0.3s, padding 0.3s; 
}

.section:hover {
  border-color: #44210E; 
  padding: 1.5rem; 
}

.section h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #521B04;
}

.section p {
  font-size: 1rem;
  color: #000;
}

/* Estilos para as imagens */
.img-van {
  width: 47px;
  height: 47px;
}

/* Estilos para os títulos */
.titu-van {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  color: #521B04;
  margin-top: 1rem;
}

/* Estilos para os textos */
.tex-van {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}