@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

html {
  scroll-behavior: smooth;
}

.Titulo2
{
    display: block; 
  margin: 12.5rem auto 0; 
  margin-left: auto; 
  margin-right: auto; 
  text-align:center;
  width: 10rem;
  border:none;
  border-radius: 1.188rem;
  padding: .5rem 1.5rem .5rem 1.5rem;
  background-color:#44210E;
  font-size: 1.5rem;
  color: #FFEEE4;
  font-family:"Inter", sans-serif;
  font-style: black italic;
  font-weight: bold
}

.linha
{
    
    width: 50%;
            border-top: 0.188rem solid #44210E; 
            margin: 1.25rem auto;
}


.qm
{
    display: block; 
    margin: 12.5rem auto 0; 
    margin-left: auto; 
    margin-right: auto; 
    text-align:center;
    width: 15rem;
    border:none;
    border-radius: 1.188rem;
    padding: .5rem 1.5rem .5rem 1.5rem;
    background-color:#44210E;
    font-size: 1.5rem;
    color: #FFEEE4;
    font-family:"Inter", sans-serif;
    font-style: black italic;
    font-weight: bold
}

.quadrado2
{
    

box-sizing: border-box;

position: absolute;
width: 1252px;
height: 513px;
left: calc(50% - 1252px/2);
top: 2300px;
display: block;
border: solid #44210E;
border-radius: 19px;

}

.quems
{
  margin: 90px;
  text-align:center;
  font-size: 1.25rem;
  color: black;
  font-family:"Inter", sans-serif;
  font-style: black italic;
  font-weight: bold
}

.skil
{
  display: block; 
  margin: 750px auto 0; 
  margin-left: auto; 
  margin-right: auto; 
  text-align:center;
  width: 10rem;
  border:none;
  border-radius: 1.188rem;
  padding: .5rem 1.5rem .5rem 1.5rem;
  background-color:#44210E;
  font-size: 1.5rem;
  color: #FFEEE4;
  font-family:"Inter", sans-serif;
  font-style: black italic;
  font-weight: bold
}

.quadrado3
{
  

box-sizing: border-box;

position: absolute;
width: 600px;
height: 343px;
left: 300px;
top: 3100px;

border: 2px solid #000000;
border-radius: 19px;

}

.quadrado4
{


box-sizing: border-box;

position: absolute;
width: 600px;
height: 343px;
left: 960px;
top: 3100px;

border: 2px solid #000000;
border-radius: 19px;

}

.html1
{

position: absolute;
width: 64px;
height: 64px;
left: 100px;
top: 15px;




}


.frontend
{
 
  text-decoration: underline;

position: absolute;
width: 118px;
height: 58px;
left: 235px;
top: 30px;

font-family: 'Inter';
font-style: italic;
font-weight: 700;
font-size: 24px;
line-height: 29px;

color: #000000;


}

.fonthtml{


position: absolute;
margin-top: 10px;
width: 500px;
height: 29px;
left: 50px;
top: 100px;

font-family: 'Inter';
font-style: italic;
font-weight: 400px;
font-size: 24px;
line-height: 29px;


color: #000000;

}


.entre-link2
{
  display: flex; 
  margin: 750px auto 0; 
  margin-left: auto; 
  margin-right: auto; 
  text-align:center;
  width: 16rem;
  border:none;
  border-radius: 1.188rem;
  padding: .5rem 1.5rem .5rem 1.5rem;
  background-color:#44210E;
  font-size: 1.5rem;
  color: #FFEEE4;
  font-family:"Inter", sans-serif;
  font-style: black italic;
  font-weight: bold
}

.quadrado5
{
  

box-sizing: border-box;

position: absolute;
width: 643px;
height: 120px;
left: calc(50% - 643px/2 + 0.5px);
top: 3880px;

border: 2px solid #000000;
border-radius: 19px;

}

