@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
  scroll-behavior: smooth;
}

.Titulo2
{
    display: block; 
  margin: 12.5rem auto 0; 
  margin-left: auto; 
  margin-right: auto; 
  text-align:center;
  width: 10rem;
  border:none;
  border-radius: 1.188rem;
  padding: .5rem 1.5rem .5rem 1.5rem;
  background-color:#44210E;
  font-size: 1.5rem;
  color: #FFEEE4;
  font-family:"Inter", sans-serif;
  font-style: black italic;
  font-weight: bold
}

.linha
{
    
    width: 50%;
            border-top: 0.188rem solid #44210E; 
            margin: 1.25rem auto;
}


.qm
{
    display: block; 
    margin: 15.5rem auto 0; 
    margin-left: auto; 
    margin-right: auto; 
    text-align:center;
    width: 15rem;
    border:none;
    border-radius: 1.188rem;
    padding: .5rem 1.5rem .5rem 1.5rem;
    background-color:#44210E;
    font-size: 1.5rem;
    color: #FFEEE4;
    font-family:"Inter", sans-serif;
    font-style: black italic;
    font-weight: bold
}

.quadrado2
{
  padding: 100px 80px 100px 80px; 
  margin-top: 10px;
  margin-left: auto; 
  margin-right: auto;
  border-radius: 1.188rem;
  border:solid #44210E ;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1250px;
  height: 513px;
  background-color: transparent;

}

.quems
{
  font-size: 1.25rem;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  margin:0; 

}

.skil
{
  display: block; 
  margin: 15.5rem auto 0; 
  margin-left: auto; 
  margin-right: auto; 
  text-align:center;
  width: 10rem;
  border:none;
  border-radius: 1.188rem;
  padding: .5rem 1.5rem .5rem 1.5rem;
  background-color:#44210E;
  font-size: 1.5rem;
  color: #FFEEE4;
  font-family:"Inter", sans-serif;
  font-style: black italic;
  font-weight: bold
}

.quadrado-skil {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  gap: 40px; /* Espaçamento entre os quadrados */
}

.quadrado3 {
  position: relative;
  padding: 20px;
  border: solid #44210E;
  border-radius: 1.188rem;
  width: 600px;
  height: 340px;
  background-color: #FFFEF8;
  box-sizing: border-box; /* Inclui padding e borda na largura e altura */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.program {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 57px;
  height: 57px;
}

.frontend {
  font-size: 1.25rem;
  color: black;
  font-family:"Inter", sans-serif;
  font-style: black italic;
  font-weight: bold;
  font-size: 24px;
  margin-top: 10px; /* Ajuste a margem superior para posicionar o título abaixo do ícone */
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: underline;
}

.fonthtml {
 margin-left: 30px;
  padding-left: 0;
  font-size: 24px; /* Ajuste o tamanho da fonte dos itens da lista */
}

.fonthtml li {
  margin-bottom: 10px;
}

.fonthtml li a {
  text-decoration: none;
  color: black;
  display: inline-block;
  
}

.entre-link2
{
  display: block; 
  margin: 15.5rem auto 0; 
  margin-left: auto; 
  margin-right: auto; 
  text-align:center;
  width: 16rem;
  border:none;
  border-radius: 1.188rem;
  padding: .5rem 1.5rem .5rem 1.5rem;
  background-color:#44210E;
  font-size: 1.5rem;
  color: #FFEEE4;
  font-family:"Inter", sans-serif;
  font-style: black italic;
  font-weight: bold
}

.quadrado-contato
{
  display: flex;
  margin-top: 15px;
  justify-content: center;
}

.quadrado4
{
  align-items: center;
  border: solid #44210E;
  border-radius: 1.188rem;
  width: 640px;
  height: 120px;
  background-color: #FFFEF8;
  box-sizing: border-box; 
  display: flex;
  justify-content: center;
  padding: 10px;
}

.email
{
  padding: 10px;
  width: 57px;
  height: 57px;
}

.contax
{
text-decoration: none;
font-size: 1.25rem;
color: #000000;
font-family:"Inter", sans-serif;
font-style: black italic;
font-weight: bold;
width: 300px;
height: 23px;
}

.contax:hover
{
  color: #44210E;
  text-decoration: underline;
}

.git
{
  display: flex;
  margin-top: 15px;
  justify-content: center;
}

.githe
{
  padding: 0;
  width: 57px;
  height: 57px;
}

.gith
{
  padding: 20px 10px 0 10px;
  text-decoration: none;
  font-size: 1.25rem;
  color: #000000;
  font-family:"Inter", sans-serif;
  font-style: black italic;
  font-weight: bold;
  width: auto;
  height: auto;
}

.gith:hover{
  color: #44210E;
  text-decoration: underline;
}

.footer
{
  display: flex;
  margin-top: 200px;
  justify-content: center;
  width: auto;
  height: 500px;
  background-color: #44210E;
}

